:root {
  --background-color: #3e3636;
  --primary-color: #2e808a;
  --secondary-color: #c1654d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities